.carousel {
    .item-1 {
        background-image: url("../images/cover.jpg");
        background-size: cover;
        height: 700px;
    }
    .div-i {
        margin-top: 340px;
        margin-left: 20px;
    }
    .item-2 {
        background-image: url("../images/cover2.jpg");
        background-size: cover;
        height: 700px;
    }
}